@{
    ViewBag.Title = "Home Page";
    var apiKey = System.Configuration.ConfigurationManager.AppSettings["VirusScanner:ApiKey"];
}

@if (TempData.ContainsKey("ScanResult"))
{
<div class="alert alert-success alert-dismissible" role="alert">
    <span>@TempData["ScanResult"]</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
}

<div class="jumbotron">
    <h1>Cloudmersive Virus Scanning</h1>
    <p class="lead">Upload a file to test the Cloudmersive Virus Scanning Api</p>
    <p><b>Note</b>: Async uploads work correctly where as synchronous operations hang indefinitely (deadlocked).</p>
    <p>Api Key: @(!String.IsNullOrEmpty(apiKey) ? apiKey : "Not Configured")</p>
</div>

@using (Html.BeginForm(String.Empty, "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="input-group">
            <label class="input-group-btn">
                <span class="btn btn-primary">
                    Choose File <input type="file" id="file" name="file" style="display: none;">
                </span>
            </label>
            <input type="text" class="form-control" id="file-name" placeholder="Select a file" readonly>
        </div>
    </div>
    <br />
    <div class="row">
        <input type="submit" formaction="/Home/Scan" class="btn btn-primary" value="Scan" style="padding-right:15px;" />
        <input type="submit" formaction="/Home/ScanAsync" class="btn btn-primary" value="Scan Async" />
    </div>

}

@section scripts 
{ 
    <script type="text/javascript">
        $(function () {
            $('input[type=file]').change(function () {
                var t = $(this).val();
                var labelText = 'File : ' + t.substr(12, t.length);
                $('#file-name').val(labelText);
            })
        });
    </script>
}